<a class="skip-link" href="#main">跳到主要内容</a>
<header class="nav">
  <nav class="nav-inner" aria-label="主导航">
    <a class="nav-logo" href="/" aria-label="焰境·万载 首页">
      <img class="nav-logo-icon" src="/favicon.svg" alt="" width="22" height="22" aria-hidden="true">焰境·万载
    </a>
    <button class="nav-burger" type="button" aria-label="打开菜单" aria-expanded="false" aria-controls="nav-drawer">
      <span class="nav-burger-line" aria-hidden="true"></span>
      <span class="nav-burger-line" aria-hidden="true"></span>
    </button>
    <ul class="nav-menu" aria-label="站内页面">
      {{#each site.nav as item}}
      <li class="nav-item{{#if item.menu}} has-menu{{/if}}">
        <a class="nav-link" href="{{item.href}}"{{#if item.menu}} aria-haspopup="true" aria-expanded="false"{{/if}}>{{item.label}}</a>
        {{#if item.menu}}
        <div class="nav-panel">
          <div class="nav-panel-inner">
            <p class="nav-panel-title">{{item.label}}</p>
            <ul class="nav-panel-list">
              {{#each item.menu as sub}}<li><a class="nav-panel-link" href="{{sub.href}}">{{sub.label}}</a></li>{{/each}}
            </ul>
          </div>
        </div>
        {{/if}}
      </li>
      {{/each}}
    </ul>
  </nav>
</header>
<div class="nav-drawer" id="nav-drawer">
  <ul class="nav-drawer-list" aria-label="站内页面">
    {{#each site.nav as item}}
    {{#if item.menu}}
    <li class="nav-drawer-item has-menu">
      <button class="nav-drawer-toggle" type="button" aria-expanded="false">{{item.label}}<span class="nav-drawer-caret" aria-hidden="true"></span></button>
      <ul class="nav-drawer-sub">
        {{#each item.menu as sub}}<li class="nav-drawer-subitem"><a class="nav-link" href="{{sub.href}}">{{sub.label}}</a></li>{{/each}}
      </ul>
    </li>
    {{/if}}
    {{#unless item.menu}}
    <li class="nav-drawer-item"><a class="nav-link" href="{{item.href}}">{{item.label}}</a></li>
    {{/unless}}
    {{/each}}
  </ul>
</div>
